{% extends "layouts/default.html" %}

{% block page %}
<div class="col-11 main" v-on:scroll="scrolled">
<h1>工作單查詢</h1>
    <div  id="dashboard" >
    
    <div class="filter_bar" name="filter_bar" >
        <h3>篩選條件:</h3>
        <label for="serial_number">單號:</label>
        <input type="text" v-model="serial_number_input" v-on:keyup="update_data">
        <label for="squad">工班:</label>
        <select name="squad" v-model="squad_select" v-on:change="update_data">
            <option value="0" >全部</option>
            {% for squad in squads %}
            <option value="{{squad.id}}">{{squad.name}}</option>
            {% endfor %}
        </select>
        <label for="status">狀態:</label>
        <select name="status" v-model="status_select" v-on:change="update_data">
            <option value="0" >全部</option>
            {% for status in statuss %}
            <option value="{{status.id}}">{{status.name}}</option>
            {% endfor %}
        </select>
        <label for="type1">類別1:</label>
        <select name="type1" v-model="type1_select" v-on:change="update_data">
            <option value="0" >全部</option>
            {% for type1 in type1s %}
            <option value="{{type1.id}}">{{type1.name}}</option>
            {% endfor %}
        </select>
        <label for="type2">類別2:</label>
        <select name="type2" v-model="type2_select"  v-on:change="update_data">
            <option value="0" >全部</option>
            {% for type2 in type2s %}
            <option value="{{type2.id}}">{{type2.name}}</option>
            {% endfor %}
        </select>
        <label for="region">區域:</label>
        <select name="region" v-model="region_select"  v-on:change="update_data">
            <option value="0" >全部</option>
            {% for region in regions %}
            <option value="{{region.id}}">{{region.name}}</option>
            {% endfor %}
        </select>
        <label for="project">工程:</label>
        <select name="project" v-model="project_select"  v-on:change="update_data">
            <option value="0" >全部</option>
            {% for project in projects %}
            <option value="{{project.id}}">{{project.name}}</option>
            {% endfor %}
        </select>
        <label for="paginate">單頁資料數:</label>
        <select name="paginate" v-model="paginate_select"  v-on:change="update_data">
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        
    </div>
        
    <div >
        <table class="table table-striped dashboard_table" >
            <thead>
            <tr>
                <td>
                    <span>聯單號:</span>
                </td>
                <td>
                    <span>工班:</span>
                </td>
                <td>
                    <span>狀態:</span>
                </td>
                <td>
                    <span>類別1:</span>
                </td>
                <td>
                    <span>類別2:</span>
                </td>
                <td>
                    <span>區號:</span>
                </td>
                <td>
                    <span>工程:</span>
                </td>
                <td>
                    <span>地址:</span>
                </td>
                <td>
                    <span>批次:</span>
                </td>
                <td>
                    <span>日期:</span>
                </td>
                <td colspan="2"></td>
            </tr>
        </thead>
        <tbody >
            <tr v-for="worksheet in worksheets" v-if="!isFetching">
                <td>
                    <span v-html="worksheet.serial_number"></span>
                </td>
                <td>
                    <span v-html="dict.squad_dict[worksheet.squad]"></span>
                </td>
                <td>
                    <span v-html="dict.status_dict[worksheet.status]"></span>
                </td>
                <td>
                    <span v-html="dict.type1_dict[worksheet.type1]"></span>
                </td>
                <td>
                    <span v-html="dict.type2_dict[worksheet.type2]"></span>
                </td>
                <td>
                    <span v-html="dict.region_dict[worksheet.region]"></span>
                </td>
                <td>
                    <span v-html="dict.project_dict[worksheet.project]"></span>
                </td>
                <td>
                    <span v-html="worksheet.address"></span>
                </td>
                <td>
                    <span v-html="worksheet.batch"></span>
                </td>
                <td>
                    <span v-html="worksheet.date"></span>
                </td>
                <td>
                    <button class="btn btn-outline-primary" v-on:click="modify(worksheet.id)">修改</button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" v-on:click="del(worksheet.id)">刪除</button>
                </td>
            </tr>
        </tbody>
        </table>
        
    </div>
            
        
       


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/dashboard_page.js"></script>
{% endblock page %}