{% extends "layouts/default.html" %}

{% block page %}
<div class="col-11 main" v-on:scroll="scrolled">
<h1>領料單查詢</h1>
    <div  id="get_product_dashboard" >
    
    <div class="filter_bar" name="filter_bar" >
        <h3>篩選條件:</h3>
        <label for="serial_number">單號:</label>
        <input type="text" v-model="serial_number_input" v-on:keyup="update_data">
        <label for="squad">工班:</label>
        <select name="squad" v-model="squad_select" v-on:change="update_warehouse">
            <option value="0" >全部</option>
            {% for squad in squads %}
            <option value="{{squad.id}}">{{squad.name}}</option>
            {% endfor %}
        </select>
        <label for="warehouse">倉庫:</label>
        <select name="warehouses" v-on:change="update_data" v-model="warehouse_select">
            <option value="0">全部</option>
            <option v-for="item in warehouses" :value="item.id" v-html="item.name"></option>
        </select>
        <label for="date">日期:</label>
        <input type="date" v-model="date_select" v-on:change="update_data">
        <label for="paginate">單頁資料數:</label>
        <select name="paginate" v-model="paginate_select"  v-on:change="update_data">
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        
    </div>
        
    <div >
        <table class="table table-striped dashboard_table" >
            <thead>
            <tr>
                <td>
                    <span>領料單號:</span>
                </td>
                <td>
                    <span>領料工班:</span>
                </td>
                <td>
                    <span>領料倉庫:</span>
                </td>
                <td>
                    <span>出料倉庫:</span>
                </td>
                <td>
                    <span>日期:</span>
                </td>
               
                <td colspan="2"></td>
            </tr>
        </thead>
        <tbody  v-for="get_product_sheet in get_product_sheets" v-if="!isFetching">
            <tr >
                <td>
                    <span v-html="get_product_sheet.serial_number"></span>
                </td>
                <td>
                    <span v-html="dict.squad_dict[get_product_sheet.squad].name"></span>
                </td>
                <td>
                    <span v-html="dict.warehouse_dict[get_product_sheet.warehouse].name"></span>
                </td>
                <td>
                    <span v-html="dict.warehouse_dict[get_product_sheet.out_warehouse].name"></span>
                </td>
                <td>
                    <span v-html="get_product_sheet.date"></span>
                </td>
                <td>
                    <button class="btn btn-outline-primary" v-on:click="show_detail(get_product_sheet.id)">檢視</button>
                </td>
                <!-- <td>
                    <button class="btn btn-outline-primary" v-on:click="modify(get_product_sheet.id)">修改</button>
                </td> -->
                <td>
                    <button class="btn btn-outline-danger" v-on:click="del(get_product_sheet.id)">刪除</button>
                </td>
            </tr>
            <tr v-if="show_id==get_product_sheet.id" v-for="products in productss" >
                <td></td>
                <td>
                    <span v-html="'料名:'+products.name"></span>
                </td>
                <td>
                    <span v-html="'料號:'+products.code"></span>
                </td>
                <td>
                    <span v-html="'數量:'+products.amount"></span>
                </td>
                <td>
                    <span v-html="'單位:'+products.unit"></span>
                </td>
                <td></td><td></td>
            </tr>
        </tbody>
        </table>
        
    </div>
            
        
       


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/get_product_dashboard.js"></script>
{% endblock page %}