{% extends "layouts/default.html" %}

{% block page %}
<div class="col-10 main">
<h1>新增領貨單</h1>
<div  id="get_product_sheet">
    <table class="table">

        <tr><td><label for="serial_number">單號:</label></td><td colspan="3"><input type="text" name="serial_number" v-model="get_product_sheet_data.serial_number"></td></tr>
        <tr><td><label for="squad">工班:</label></td><td><select name="squad" id="" v-model="get_product_sheet_data.squad" v-on:change="update_warehouse">
            {% for squad in squads %}
            <option value="{{squad.id}}">{{squad.name}}</option>
            {% endfor %}
        </select></td></tr>
        <tr><td> <label for="warehouse" >倉庫:</label></td><td><select name="warehouse" id="warehouse" v-model="get_product_sheet_data.warehouse" >
        </select></td></tr>
        <tr><td><label for="date">日期:</label></td><td><input type="date" name="date" v-model="get_product_sheet_data.date"></td></tr>

        <tr><td colspan="2"><button class="btn btn-secondary" v-on:click="new_products">新增批料</button></td></tr>
        
        <tr><td colspan="2"><div id="productss_div"></div></td></tr>
        </table>
        <button class="btn btn-primary" v-on:click="export_pdf">輸出pdf</button>
        <button class="btn btn-success" v-on:click="submit">送出</button>



    
   
        
    
    


</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/get_product_page.js"></script>
{% endblock page %}