{% extends "layouts/default.html" %}

{% block page %}
    <div class="col-11 main">
    
        <div  id="update_use_product_sheet">
            <h1>檢視完工用料單</h1>
            <table class="table" v-if="!isFetching">
        
                <tr><td><label for="serial_number">單號:</label></td><td><span v-html="use_product_sheet.serial_number"></span></td></tr>
        
        
                <tr><td><label for="squad">工班:</label></td><td><span v-html="use_product_sheet.squad_name"></span></td></tr>
        
                <tr><td></td></tr>
        
                <tr><td><label for="date">日期:</label></td><td> <input type="date" name="date"  v-model="use_product_sheet.date"></td></tr>
                <tr><td><label for="status">狀態:</label></td><td> <select name="status" v-model="use_product_sheet.status">
                    {% for status in statuss %}
                    <option value="{{status.id}}">{{status.name}}</option>
                    {% endfor %}
                </select></td></tr>
                
                <tr><td><label for="warehouse">倉庫:</label></td><td> <select name="warehouse" v-model="use_product_sheet.warehouse">
                    {% for warehouse in warehouses %}
                    <option value="{{warehouse.id}}">{{warehouse.name}}</option>
                    {% endfor %}
                </select></td></tr>
                
                <tr><td><label for="point">點數:</label></td><td><input type="text" name="point" v-model="use_product_sheet.point"></td></tr>
                <tr><td><label for="discription">附註:</label></td><td><textarea name="discription" cols="30" rows="10" v-html="use_product_sheet.discription"></textarea></td></tr>
        




                <tr><td colspan="2"><button class="btn btn-secondary" v-on:click="add_products">新增完工用料</button></td></tr>
                <tr>
                    <td colspan="2">
                        <div  v-for=" (product,index) in products " v-if="!isFetching">
                            <label for="code">料號:</label><input type="text" v-model="products[index].code" v-on:keyup="search_product(index)">
                            <span>料名:</span><span v-html="product.name"></span>
                            <span>單位:</span><span v-html="product.unit"></span>
                            <label for="amount">數量:</label><input type="number" v-model="products[index].amount">
                            <button v-on:click="cancel_product(index)">取消</button>
                        </div>
                    </td>
                </tr>
                
        </table>
        <button class="btn btn-success" v-on:click="submit">修改</button>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/js/update_use_product_sheet_page.js"></script>
        {% endblock page %}