<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Xinhe_SYS</title>
    </head>
    <body >
        
        <div class="navbar" id ="navbar">
            <a href="/worksheet_page/">新增工作聯單</a>
            <a href="/get_product_sheet_page/">新增領料單</a>
            <a href="/use_product_sheet_page/">新增完工用料單</a>
            <a href="/dashboard_page/">檢視工作聯單</a>
        </div>

                {% block page %}
                
                {% endblock page %}
            
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    </body>



</html>